@import url('https://fonts.googleapis.com/css?family=Protest+Guerrilla&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height:100%;
    background-color: black;
    display: flex;
    justify-content:center;
    align-items:center;
    gap: 30px;
    flex-direction: column;
}
#logo{
width: 20vw;


}
h1{
    color: white;
    font-family: "Protest Guerrilla", sans-serif;
}
#name{
    color:rgb(229, 3, 180) ;
    font-size: 45px;
}
#va{
    color:rgb(14, 204, 243) ;
    font-size: 45px;
}
#voice{
    width: 150px;
    display: none;

}
#btn{
    width: 30%;
    background-color: rgb(193, 20, 156);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    border-radius: 30px;
    color: white;
    box-shadow: 2px 2px 10px rgb(14, 204, 243),2px 2px 10px rgb(193, 20, 156);
    border:none;
    transition: all 0.5s ease;
    cursor: pointer;
}
#btn:hover{
    cursor: pointer;
    background-color: rgb(14, 204, 243);
    box-shadow: 2px 2px 20px rgb(193, 20, 156),2px 2px 20px rgb(14, 204, 243);
    letter-spacing: 2px;
}
